$output.file("web/src/app/entities/${entity.model.var}/webapp/controller/${entity.model.var}/Detail${entity}.controller.js")##
#set( $listFields = [] )
#foreach (${attribute} in ${entity.nonCpkAttributes.list})
	#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
	    #if(!(${attribute.var}=='id' || ${attribute.var}=='usuarioCreacion' || ${attribute.var}=='fechaCreacion' || ${attribute.var}=='usuarioModificacion' || ${attribute.var}=='fechaModificacion'))
		    #set(${listFields} = ${listFields.add(${attribute.var})})
		#end
	#end
#end

sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "../../js/utilities",
	"../../service/Service",
	"../../customize/customize",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
], function(BaseController, MessageBox, Utilities, Service, Customize, History) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.${entity.model.var}.Detail${entity}", {
        fieldList: [],
        nameEntity: "${entity}",
        nameEntityVar: "${entity.model.var}",
        nameModel: "${entity}List",
        nameModelUpload: "Upload${entity}List",
        handleRouteMatched: function (oEvent) {

            var oParams = {};

            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        getObjectFields: function(context, fieldList){
            var that = this;
            var jsonFieldList=[];
            fieldList.map(function(f){
                var idField = "txt"+f;
                var objectField= context.getView().byId(idField);
                if(objectField !== undefined){
                    jsonFieldList.push({"nameField": f, "objectField": objectField});
                }
            });
            return jsonFieldList;
        },
        putFields: function(arg1,arg2, f){
            debugger;
            var jsonFieldList = this.getObjectFields(this, this.fieldList);
            jsonFieldList.map(function(o){
                o["objectField"].setValue(arg1[o["nameField"]]);
            });
        },
        removerEstilos: function() {
			var jsonFieldList = this.getObjectFields(this, this.fieldList);
            jsonFieldList.map(function(o){
                Utilities.removerStateError(o["objectField"]);
            });
        },
		validarDatos: function(oArg){
            debugger;
            var requiredEmpty = 0;
            var validar = true;

            /* Removiendo estilos */
            this.removerEstilos();
            #set( $listFieldsNotNull = [] )
            #foreach (${attribute} in ${entity.nonCpkAttributes.list})
            	#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
            	    #if(!(${attribute.var}=='id' || ${attribute.var}=='version' || ${attribute.var}=='usuarioCreacion' || ${attribute.var}=='fechaCreacion' || ${attribute.var}=='usuarioModificacion' || ${attribute.var}=='fechaModificacion'))
            		    #if(${attribute.isNotNullable()})
            		        #set(${listFieldsNotNull} = ${listFieldsNotNull.add(${attribute.var})})
            		    #end
            		#end
            	#end
            #end

            var listFieldsNotNull = "${listFieldsNotNull}";
            var sizeFieldsNotNull = listFieldsNotNull.length;
            listFieldsNotNull = listFieldsNotNull.substr(1, sizeFieldsNotNull-2);
            listFieldsNotNull = listFieldsNotNull.split(", ");

            /* Realizando validaciones */
			var jsonFieldList = this.getObjectFields(this, listFieldsNotNull);
            jsonFieldList.map(function(o){
                validar = Utilities.validarRequerido(o["objectField"],'T');
                if (!validar)
                    requiredEmpty =1;
            });
            return requiredEmpty;
        },
        saveData: function(evt){
			var validar = this.validarDatos();
            if(validar  === 0){
                var json={};
				var jsonFieldList = this.getObjectFields(this, this.fieldList);
                jsonFieldList.map(function(o){
                    json[o["nameField"]]=o["objectField"].getValue();
                });
                json["fechaCreacion"]=1526533200000;
                json["usuarioCreacion"]="USUARIO";

                var s = sessionStorage.getItem("update");
                if(s==="1"){
                    debugger;
                    var id = sessionStorage.getItem("idRow${entity}");
                    json["id"]= id;
                    var myJSON = JSON.stringify(json);
                    Service.doPostPost(this, json,"${entity.model.var}/save","${entity.model.var}/findAll","${entity}List");
                }else{
                    json["usuarioCreacion"]="USUARIO";
                    debugger;
                    var myJSON = JSON.stringify(json);
                    Service.doPostPost(this, json,"${entity.model.var}/create","${entity.model.var}/findAll","${entity}List");
                }
            }else{
                MessageBox.alert("Debe llenar todos los campos requeridos", {title: "Ventana de Aviso"});
            }
        },
        goBack: function(evt){
            this.oRouter.navTo("Main");
        },
        clearData: function(){
			var jsonFieldList = this.getObjectFields(this, this.fieldList);
            jsonFieldList.map(function(o){
                o["objectField"].setValue(null);
            });
        },
        onInit: function () {
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);

            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
                        var listFields = "${listFields}";
                        var sizeFields = listFields.length;
                        listFields = listFields.substr(1, sizeFields-2);
                        listFields = listFields.split(", ");
                        this.fieldList = listFields;
                        this.removerEstilos();
                        var typeForm${entity} = sessionStorage.getItem("typeForm${entity}");
                        Service.doGet(this,"appParametria/_getListaPais","ListaPais");
                        Service.doGet(this,"appParametria/_getListaCategoria","ListaCategoria");
                        Service.doGet(this,"appParametria/_getListaUnidadNegocio","ListaUnidadNegocio");
                        Service.doGet(this,"appParametria/_getListaVersion","ListaVersion");
                        Service.doGet(this,"appParametria/_getListaMes","ListaMes");

						switch(typeForm${entity}){
							case "0": //New
							that.clearData();
							Customize.doBeforeNew(this, this.fieldList);
                            sessionStorage.setItem("update",0);
                            sessionStorage.setItem("typeForm${entity}",0);
							break;
							case "1": //Detail Update
							that.clearData();
							Service.doGetLoading(this,
                                "${entity.model.var}/findById/"+sessionStorage.getItem("idRow${entity}"),"${entity}Model", "Y", "putFields");
                            sessionStorage.setItem("typeForm${entity}",0);
                            sessionStorage.setItem("update",1);
							break;
							case "2": // Detail
							that.clearData();
                            Customize.doBeforeDetail(this, this.fieldList);
                            Service.doGetLoading(this,
                                "${entity.model.var}/findById/"+sessionStorage.getItem("idRow${entity}"),"${entity}Model", "Y", "putFields");
                            sessionStorage.setItem("typeForm${entity}",0);
							break;
						}
                    }
                },that
            );
        }
    });
}, /* bExport= */true);