$output.file("web/src/app/entities/${entity.model.var}/webapp/controller/${entity.model.var}/Result${entity}.controller.js")##
sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "../../js/utilities",
	"../../service/Service",
	"../../customize/customize",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber2",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber5",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
    "sap/ui/model/Filter",
    "sap/ui/model/FilterOperator",
], function(BaseController, MessageBox, Utilities, Service, Customize, FormatterFloatNumber2, FormatterFloatNumber5 , History, Moment, Filter, FilterOperator) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.${entity.model.var}.Result${entity}", {
        dateFieldsResultList: ["fechaInicioRFC", "fechaFinRFC", "fechaInicioSCP", "fechaFinSCP", "fechaInicioStoreSP", "fechaFinStoreSP", ],
        nameEntity: "${entity}",
        nameEntityVar: "${entity.model.var}",
        nameModel: "${entity}List",
        nameModelUpload: "Upload${entity}List",
        nameModelResult: "Result${entity}List",
		handleRouteMatched: function (oEvent) {
            var oParams = {};
            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        onAfterRendering: function() {
            this.byId("multiheaderRFC").setHeaderSpan([3,1]);
            this.byId("multiheaderSCP").setHeaderSpan([3,1]);
            this.byId("multiheaderStoreSCP").setHeaderSpan([3,1]);
        },
        goBack: function(evt){
            this.oRouter.navTo("Main");
        },
        onInit: function () {
            //debugger;
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
            this.oRouter.getTarget("Main").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
                        //var resultModel = sap.ui.getCore().getModel(this.nameModelResult);
                        //Customize.doBeforeResult(this, resultModel.oData);
                    }
                },that
            );

        }
    });
}, /* bExport= */true);