$output.file("web/src/app/entities/${entity.model.var}/webapp/controller/Main.controller.js")##
#set( $listFields = [] )
#set( $dateFieldsList=[])
#foreach (${attribute} in ${entity.nonCpkAttributes.list})
	#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
	    #if(!(${attribute.var}=='id' || ${attribute.var}=='usuarioCreacion' || ${attribute.var}=='fechaCreacion' || ${attribute.var}=='usuarioModificacion' || ${attribute.var}=='fechaModificacion'))
		    #set(${listFields} = ${listFields.add(${attribute.var})})
		    #if(${attribute.type}=='Date')
                #set(${dateFieldsList} = ${dateFieldsList.add(${attribute.var})})
            #end
		#end
	#end
#end

sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "../js/utilities",
	"../service/Service",
	"../customize/customize",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber2",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber5",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
    "sap/ui/model/Filter",
    "sap/ui/model/FilterOperator"
], function(BaseController, MessageBox, Utilities, Service, Customize, FormatterFloatNumber2, FormatterFloatNumber5 , History, Moment, Filter, FilterOperator) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.Main", {
        fieldList: [],
        dateFieldsList: [],
        nameEntity: "${entity}",
        nameEntityVar: "${entity.model.var}",
        nameModel: "${entity}List",
        nameModelUpload: "Upload${entity}List",
		handleRouteMatched: function (oEvent) {
            var oParams = {};
            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        onAfterRendering: function() {
            var fnPressEdit${entity} = this.editRow${entity}.bind(this); // Edita
            var fnPressDelete${entity} = this.deleteRow${entity}.bind(this); // Elimina
			var fnPressDetail${entity} = this.detailRow${entity}.bind(this); // Vista Previa
			//Verificar porque no permite que agregue >=3 rowAction
			var itemsRowAction=[];
			itemsRowAction.push(new sap.ui.table.RowActionItem({icon: "sap-icon://edit", text: "Editar", press: fnPressEdit${entity}}));
			itemsRowAction.push(new sap.ui.table.RowActionItem({icon: "sap-icon://delete", text: "Eliminar", press: fnPressDelete${entity}}));
			//itemsRowAction.push(new sap.ui.table.RowActionItem({icon: "sap-icon://detail-view", text: "Vista Previa", press: fnPressDetail${entity}}));
            var oTemplate = new sap.ui.table.RowAction({items: itemsRowAction});
            this.byId("idTbl${entity}").setRowActionTemplate(oTemplate);
            this.byId("idTbl${entity}").setRowActionCount(3);
        },
		add${entity}: function(oEvent){
		    sessionStorage.setItem("typeFormAppParametria",0);
            this.oRouter.navTo("Detail${entity}");
        },
		editRow${entity}: function(oArg){
            debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",1);
            this.oRouter.navTo("Detail${entity}");
        },
		deleteRow${entity}: function(oArg){
			debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow= oModel.getData()[path].id;
            var that = this;
            MessageBox.show("¿Desea eliminar el Registro?",
                MessageBox.Icon.WARNING,
                "Ventana de aviso",
                [MessageBox.Action.YES, MessageBox.Action.NO],
                function(oAction){
                    switch(oAction){
                        case 'YES':
                            Customize.callDelete(that, idRow);
                        case 'NO':
                            break;
                    }
                });
        },
		detailRow${entity}: function(oArg){
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",2);
            this.oRouter.navTo("Detail${entity}");
		},
		uploadExcel${entity} : function(){
            this.oRouter.navTo("Upload${entity}");
        },
		downloadExcel${entity} : function(){
        	var url = Utilities.getDomain() + '${entity.model.var}/downloadCompleteExcelXLSX' ;
            var encodeUrl = encodeURI(url);
			sap.m.URLHelper.redirect(encodeUrl,true);
        },
        closeFormSearch${entity}: function(oEvent){
            if(this.getView().byId("idSwitch${entity}").getState()){
                this.getView().byId("idFormSearch${entity}").setVisible(true);
                this.getView().byId("idBtnSearch${entity}").setVisible(true);
            }else{
                this.getView().byId("idFormSearch${entity}").setVisible(false);
                this.getView().byId("idBtnSearch${entity}").setVisible(false);
            }
        },
		filter${entity}: function(){
			Customize.callFilter(this);
        },
        clearFilter${entity}: function(){
            Customize.clearFilter(this);
        },
		goFirstPage: function(arg){
        	var txtPage = this.getView().byId("txtPage");
        	txtPage.setValue(1);
        	Customize.goPage(this, 1);
        },
		goFinalPage: function(arg){
        	var lblNumPages = this.getView().byId("lblNumPages");
        	var txtPage = this.getView().byId("txtPage");
        	var numberPage= lblNumPages.getText();
        	txtPage.setValue(numberPage);
        	Customize.goPage(this, numberPage);
        },
        goPage: function(arg){
            var lblNumPages = this.getView().byId("lblNumPages");
        	var txtPage = this.getView().byId("txtPage");
        	if(txtPage.getValue()<0 || +(txtPage.getValue())>+(lblNumPages.getText())){
            	MessageBox.alert("No se puede ir a la página que usted desea.");
            	txtPage.setValue(1);
            	var numberPage = txtPage.getValue();
        		Customize.goPage(this, numberPage);
            }else{
                var numberPage = txtPage.getValue();
        	    Customize.goPage(this, numberPage);
            }
        },
        goBackPage: function(arg){
        	debugger;
        	var txtPage = this.getView().byId("txtPage");
        	if(txtPage.getValue()==='' || txtPage.getValue()==1 || txtPage.getValue()<1){
            	MessageBox.alert("No se puede retroceder debido que se encuentra en la 1era página.");
            }else{
            	var numberPage = (+txtPage.getValue())-1;
            	txtPage.setValue(numberPage);
        		Customize.goPage(this, numberPage);
            }
        },
        goNextPage: function(arg){
        	var txtPage = this.getView().byId("txtPage");
            var lblNumPages = this.getView().byId("lblNumPages");
            var numberPage = (+txtPage.getValue())+1;
            if(+(txtPage.getValue())===+(lblNumPages.getText()) || +(txtPage.getValue())>+(lblNumPages.getText())){
                MessageBox.alert("No puede ir a la siguiente página debido que se encuentra en la última página.");
            }else{
                txtPage.setValue(numberPage);
                Customize.goPage(this, numberPage);
            }
        },
        run: function(){
            Customize.doRun(this);
        },
        callDialog : function(){
            var oView = sap.ui.xmlview({viewName: "portal.valorizacion.${entity.model.var.toLowerCase()}.view.dialog.Dialog${entity}"});
            this.getView().addDependent(oView);
            oView.getContent()[0].open();
        },
        #if (${listFields.contains("version")})##
#*    *#getVersion: function (context, arg1, arg2){
			sessionStorage.setItem("idVersion", arg1.version);
        	var descVersion="";
        	switch(arg1.version){
        		case "R":
        			descVersion= "Real";
        			sessionStorage.setItem("descVersion", descVersion);
        		break;
        		case "S":
        			descVersion= "Simulación";
        			sessionStorage.setItem("descVersion", descVersion);
        		break;
        	}
        	if(arg1.version!==undefined){
                sessionStorage.setItem("typeForm${entity}",0);
                this.byId("btnVersion${entity}").setText("Versión: "+descVersion);
                var jsonVersion= {};
                Customize.callRest(this, "${entity.model.var}", "${entity}List", this.fieldList, this.dateFieldsList, arg1);
                console.log(this.getView());
            }else{
                MessageBox.show(
                    "Por favor seleccione una Versión para poder entrar a esta pagina.", {
                        icon: sap.m.MessageBox.Icon.WARNING,
                        title: "Sin Versión",
                        styleClass: "titleMessageBox",
                        actions: [sap.m.MessageBox.Action.CLOSE],
                        onClose: function(oAction) {
                            window.history.go(-1);
                        }
                    }
                );
            }
        },
        #end##
#*    *#onInit: function () {
            //debugger;
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
            this.oRouter.getTarget("Main").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
						var listFields = "${listFields}";
						var sizeFields = listFields.length;
						listFields = listFields.substr(1, sizeFields-2);
						listFields = listFields.split(", ");
						this.fieldList = listFields;
						#if (!(${dateFieldsList.isEmpty()}))##
#*					  *#var dateFieldsList = "${dateFieldsList}";
                        var sizeDateFields = dateFieldsList.length;
                        dateFieldsList = dateFieldsList.substr(1, sizeDateFields-2);
                        dateFieldsList = dateFieldsList.split(", ");
                        this.dateFieldsList = dateFieldsList;
						#end##
#*					  *#Service.doGet(this,"appParametria/_getListaPais","ListaPais");
						Service.doGet(this,"appParametria/_getListaCategoria","ListaCategoria");
						Service.doGet(this,"appParametria/_getListaUnidadNegocio","ListaUnidadNegocio");
						Service.doGet(this,"appParametria/_getListaMes","ListaMes");
						#if (${listFields.contains("version")})##
#*				      *#Service.doGet(this,"appParametria/_getSessionConfiguracionPeriodo","sessionVersion", "Y", this, "getVersion");
						#else##
#*					  *#Customize.callRest(this, "${entity.model.var}", this.nameModel, this.fieldList, this.dateFieldsList);
						console.log(this.getView());
						#end##
#*                *#}
                },that
            );

        }
    });
}, /* bExport= */true);