$output.file("web/src/app/entities/${entity.model.var}/webapp/css/style.css")##
/* Enter your custom styles here */
.labelEdit{
    text-align: left;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 30px;
}

.flexEdit{
    height: 100px !important;
    align-items: center;
    padding-left: 20px;
}

.btnEdit{
    margin-left: 40px;
    width: 200px;
}

.active{
    margin-right: 272px;
}
.rbstyle{
	margin-right: 117px;
	margin-top: 3px;
}

.firstInput {
    margin-top: 30px;
}

.marginFlex {
    margin-right: 170px;
}

.esteticaEstado {
    margin-left: 2px;
    margin-right: 39px !important;
}

.esteticaNombre {
    margin-left: -1px;
}

.esteticaCodigo {
    margin-left: 1px;
}

.paddingScroll {
    padding: 10px;
}

.container {
    position: relative;
    background: #FEFEFE;
}

.container .logo {
    margin: 0 auto;
    width: 100%;
    margin-top: 84px;
    opacity: .6;
}

.marginR {
    margin-right: 42px !important;
}


/*.paddingContainer{
	padding-top: 64px;
}*/

.csti {
    margin-left: 13px;
    margin-top: -44px;
    margin-bottom: 0;
    opacity: .6;
}

.side-navigation-demo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 15rem;
}

.textoCSS {
    font-size: 16px;
    padding: 10px;
}

.sapMShellCentralBox {
    margin: 0px !important;
    width: 100% !important;
    left: 0 !important;
}

.minWidthTable {
    min-width: 1024px;
}

.removeH5 h5 {
    display: none;
}

.removeH5 .sapUiFormResGridCont {
    padding-bottom: 1rem;
}

.removeLink {
    text-decoration: none !important;
    cursor: text !important;
    color: #333333 !important;
}

.removeLink:hover {
    text-decoration: none !important;
    cursor: text !important;
    color: #333333 !important;
}

.MainContainer {
    padding: 0 2rem;
}

.icon {
    color: #346187;
    margin-left: 17px;
    cursor: pointer;
}

.icon:hover {
    color: red;
}

.lblClienteMarginTH {
    margin-right: 44px;
}

.lblCategoriaMarginTH {
    margin-right: 26px;
}

.lblAccionMarginTH {
    margin-right: 46px;
}

.lblDireccionMarginTH {
    margin-right: 29px;
}

.lblFechaMarginTH {
    margin-right: 12px;
}

.lblCheckMarginTH {
    margin-right: 168px;
}

@media screen and (max-width: 1250px) {
    .dtp {
        margin-left: 11px;
    }
    .cboe {
        margin-left: 32px;
    }
}

.tablaBorderTH {
    border: 1px solid gray;
}

.flexInfoAddlbl {
    margin-left: 11px;
}


/*DIALOG ASIGNAR ACCION NO PRO*/

.flexChkLeftTH {
    margin-left: 107px;
}

.btnAddLeftBotTH {
    margin-left: 571px;
    margin-bottom: 4px;
}

.btnGuardarLeftTopTH {
    margin-left: 550px;
    margin-top: 3px;
}

@media screen and (max-width: 900px) {
    .THMarginResponsiveBottom {
        margin-bottom: 12px;
    }
    .flexResponsive {
        margin-bottom: 23px;
    }
}

.LeftTH {
    margin-left: 930px;
}

.thcss>th {
    border: 1px solid gray;
    padding-bottom: 6px;
    padding-top: 6px;
}

.tdcss>td>input {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.tdcss {
    text-align: center;
}

.tdcss>td {
    border: 1px solid gray;
    padding-bottom: 6px;
    padding-top: 6px;
}

table {
    border-collapse: collapse;
}

.ocultarTexto{
	color:white;
}

.containerPlantilla{
	white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 98%;
    height: 500px;
    position: relative;
}
.containerPlantillaPrincipal{
    height: 500px;
}

.spanRed{
	color:red;
	font-weight: bold;
}

.spanGreen{
	color:green;
	font-weight: bold;
}