$output.file("web/src/app/entities/${entity.model.var}/webapp/view/${entity.model.var}/Result${entity}.view.xml")##
<mvc:View xmlns:mvc="sap.ui.core.mvc"
          controllerName="portal.valorizacion.${entity.model.var.toLowerCase()}.controller.${entity.model.var}.Result${entity}"
          xmlns:m="sap.m"
          xmlns:l="sap.ui.layout"
          xmlns:form="sap.ui.layout.form"
          xmlns="sap.ui.table"
          xmlns:core="sap.ui.core"
          xmlns:u="sap.ui.unified"
          xmlns:html="http://www.w3.org/1999/xhtml" >
    <m:Page showHeader="false" showFooter="true" showNavButton="false" navButtonPress="atras">
        <m:content>
            <html:style>
                .sapMListTblCell.cellBorderRight, .cellBorderRight {
                border-right: 1px solid lightgray;
                }

                .sapMListTblCell.cellBorderLeft, .cellBorderLeft {
                border-left: 1px solid lightgray;
                }
            </html:style>
            <m:Toolbar width="auto" height="46px" design="Transparent" visible="true" enabled="true">
                <m:content>
                    <m:Button text="" type="Transparent" icon="sap-icon://expense-report" iconFirst="true" width="auto" enabled="true" visible="true" iconDensityAware="false"/>
                    <m:Title text="Result${entity}" level="H2" icon="sap-icon://appointment"/>
                    <m:ToolbarSpacer/>
                    <m:HBox justifyContent="End">
                        <m:Button id="btnVersion${entity}" type="Transparent" icon="sap-icon://expense-report" iconFirst="true" width="auto" enabled="true" visible="true" iconDensityAware="false"/>
                    </m:HBox>
                </m:content>
                <m:tooltip/>
            </m:Toolbar>
            <form:Form editable="true" id="idFormSearch${entity}" visible="true">
                <form:formContainers>
					#foreach (${attribute} in ${entity.nonCpkAttributes.list})
						#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
							#if(!(${attribute.var}=='id' || ${attribute.var}=='version' || ${attribute.var}=='usuarioCreacion' || ${attribute.var}=='fechaCreacion' || ${attribute.var}=='usuarioModificacion' || ${attribute.var}=='fechaModificacion'))##

                            <form:FormContainer>##
								<form:formElements>
									<form:FormElement>
										<form:label>
											<m:Label text="${attribute.var}"/>
										</form:label>
										<form:fields>
											<m:Input id="txt${entity}${attribute.var}" placeholder="Ingresar ${attribute.var}"/>
										</form:fields>
									</form:FormElement>
								</form:formElements>
							</form:FormContainer>
							#end
						#end
					#end##

                </form:formContainers>
                <form:layout>
                    <form:ResponsiveGridLayout adjustLabelSpan="false" columnsL="2" labelSpanL="3" columnsM="1" labelSpanM="2" labelSpanS="12"/>
                </form:layout>
            </form:Form>
            <form:Form>
                <form:formContainers>
                    <form:FormContainer visible="true">
                        <form:formElements>
                            <form:FormElement visible="true">
                                <Table id="idTbl${entity}"
                                       rows="{path: '${entity}List>/'}"
                                       visibleRowCountMode="Interactive"
                                       visibleRowCount="10"
                                       minAutoRowCount="10"
                                       fixedColumnCount="2"
                                       enableColumnReordering="true"
                                       enableColumnFreeze="true"
                                       selectionMode="None"
                                       filter="filterByCell">
                                    <columns>
										<Column width="7rem"
										        mergeDuplicates="true"
                                                sortProperty="nroRegistrosRFC">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Registros RFC"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/nroRegistrosRFC}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="9rem"
                                                mergeDuplicates="true"
                                                sortProperty="nroRegistrosErroresRFC">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Registros con errores RFC"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/nroRegistrosErroresRFC}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="9rem"
                                                mergeDuplicates="true"
                                                sortProperty="nroRegistrosGrabadosSCP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Registros grabados en SCP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/nroRegistrosGrabadosSCP}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="10rem"
                                                mergeDuplicates="true"
                                                sortProperty="nroRegistrosErroresSCP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Registros con errores SCP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>resultado/nroRegistrosErroresSCP}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="6rem"
                                        		mergeDuplicates="true"
                                        		id="multiheaderRFC"
                                                sortProperty="fechaInicioRFC">
                                            <multiLabels>
                                            	<m:Label text="Función RFC" textAlign="Center" width="100%"/>
                                                <m:ObjectStatus
                                                        text="Inicio RFC"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaInicioRFC}"/>
                                            </template>
                                        </Column>
                                        <Column width="6rem"
                                                mergeDuplicates="true"
                                                sortProperty="fechaFinRFC">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Fin RFC"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaFinRFC}"/>
                                            </template>
                                        </Column>
                                        <Column width="7rem"
                                                mergeDuplicates="true"
                                                sortProperty="duracionRFC">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Duración RFC (seg)"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/duracionRFC}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="6rem"
                                        		mergeDuplicates="true"
                                        		id="multiheaderSCP"
                                                sortProperty="fechaInicioSCP">
                                            <multiLabels>
                                            	<m:Label text="SAP SCP" textAlign="Center" width="100%"/>
                                                <m:ObjectStatus
                                                        text="Inicio SCP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaInicioSCP}"/>
                                            </template>
                                        </Column>
                                        <Column width="6rem"
                                                mergeDuplicates="true"
                                                sortProperty="fechaFinSCP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Fin SCP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaFinSCP}"/>
                                            </template>
                                        </Column>
                                        <Column width="7rem"
                                                mergeDuplicates="true"
                                                sortProperty="duracionSCP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Duracion SCP (seg)"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/duracionSCP}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="7rem"
                                        		mergeDuplicates="true"
                                        		id="multiheaderStoreSCP"
                                                sortProperty="fechaInicioStoreSP">
                                            <multiLabels>
                                            	<m:Label text="Store Procedure" textAlign="Center" width="100%"/>
                                                <m:ObjectStatus
                                                        text="Inicio Store SP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaInicioStoreSP}"/>
                                            </template>
                                        </Column>
                                        <Column width="7rem"
                                                mergeDuplicates="true"
                                                sortProperty="fechaFinStoreSP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Fin Store SP"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/fechaFinStoreSP}"/>
                                            </template>
                                        </Column>
                                        <Column width="9rem"
                                                mergeDuplicates="true"
                                                sortProperty="duracionStoreSP">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Duracion Store SP (seg)"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/duracionStoreSP}" textDirection="RTL"/>
                                            </template>
                                        </Column>
                                        <Column width="15rem"
                                                mergeDuplicates="true"
                                                sortProperty="mensaje">
                                            <multiLabels>
                                            	<m:Label text=""/>
                                                <m:ObjectStatus
                                                        text="Mensaje"
                                                        state="none" />
                                            </multiLabels>
                                            <template>
                                                <m:Text text="{ValorTransaccionalResultList>/resultado/mensaje}"/>
                                            </template>
                                        </Column>
                                    </columns>
                                </Table>
                            </form:FormElement>
                        </form:formElements>
                    </form:FormContainer>
                </form:formContainers>
                <form:layout>
                    <form:ResponsiveGridLayout adjustLabelSpan="false" columnsL="2" labelSpanL="3" columnsM="1" labelSpanM="2" labelSpanS="12"/>
                </form:layout>
            </form:Form>
        </m:content>
        <m:footer>
            <m:Bar design="100%">
                <m:contentLeft/>
                <m:contentMiddle/>
                <m:contentRight>
                </m:contentRight>
            </m:Bar>
        </m:footer>
        <m:headerContent/>
        <m:subHeader/>
        <m:customHeader/>
    </m:Page>
</mvc:View>