$output.file("web/src/app/entities/${entity.model.var}/i18n/i18n.properties")##
# SAPUI5 TRANSLATION-KEY bf0915d5-52b4-446c-afb6-556b65741fb6

# XTIT:Application name
appTitle=${entity}

# YDES:Application description
appDescription=${entity}

porcentajeExito = % de Exito
