$output.file("web/src/app/entities/${entity.model.var}/webapp/service/Service.js")##
sap.ui.define([
    "./Service",
    "sap/m/MessageBox",
    "../js/utilities"
], function(Service, MessageBox, Utilities) {
    "use strict";
    return {
        doDelete: function(context, uri, idRow, callFunction, contextFunction, nameFunction, arg){
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uri +'/'+idRow,
                type: 'DELETE',
                success: function(result) {
                    console.log("Se eliminó correctamente id:"+idRow);
                    if(callFunction==="Y"){
                        var fun= "contextFunction."+nameFunction+"(context, arg)";
                        eval(fun);
                    }
                },
                error: function(e){
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
		doPostPost: function (context, jsonObject, uri, callFunction, contextFunction, nameFunction, arg1){
            jQuery.ajax({
                context: this,
                url: Utilities.getDomain() + uri,
                type:"POST",
                data: JSON.stringify(jsonObject),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success: function(result){
					console.log(result);
					MessageBox.alert("Se Guardó Correctamente", {title: "Ventana de Aviso"});
                    if(callFunction==="Y"){
						var fun= "contextFunction."+nameFunction+"(context, result, arg1)";
                        eval(fun);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doPostGet: function (context, jsonObject, uri, nameModel, callFunction, contextFunction, nameFunction, arg1){
            jQuery.ajax({
                context: this,
                url: Utilities.getDomain() + uri,
                type:"POST",
                data: JSON.stringify(jsonObject),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                success: function(result){
                    console.log(result);
                    if(callFunction==="Y"){
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, nameModel);
                        var fun= "contextFunction."+nameFunction+"(context, result, nameModel, arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, nameModel);
                    }
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doPostGetLoading: function (context, jsonObject, uri, nameModel, callFunction, contextFunction, nameFunction, arg1){
            jQuery.ajax({
                context: this,
                url: Utilities.getDomain() + uri,
                type:"POST",
                data: JSON.stringify(jsonObject),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success: function(result){
                    console.log(result);
                    if(callFunction==="Y"){
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, nameModel);
                        var fun= "contextFunction."+nameFunction+"(context, result, nameModel, arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, nameModel);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doGet: function (context, uri, name, callFunction, contextFunction, namefunct, arg1, arg2){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                success : function(result) {
                    if(callFunction==="Y"){
        		        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                        var fun= "contextFunction."+namefunct+"(context, result, arg1, arg2)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                    }
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doGetLoading: function (context, uri, name, callFunction, contextFunction, namefunct, arg1, arg2){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success : function(result) {
                    if(callFunction==="Y"){
        		        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                        var fun= "contextFunction."+namefunct+"(context, result, arg1, arg2)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                    }
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                }
            });
        }
    };
});