$output.file("web/src/app/entities/${entity.model.var}/.project.json")##
{
  "hcpdeploy": {
    "account": "dd8fca8ff",
    "name": "valoracionportal${entity}",
    "lastVersionWeTriedToDeploy": "1.0.40"
  }
}