$output.file("web/src/app/entities/${entity.model.var}/Component.js")##
sap.ui.define([
    "sap/ui/core/UIComponent",
    "sap/ui/Device",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/model/models"
], function(UIComponent, Device, models, server) {
    "use strict";

    var navigationWithContext = {

    };

    return UIComponent.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.Component", {

        metadata: {
            manifest: "json",
            includes : [ "Table.css" ],
            dependencies: {
                libs: [
                    "sap.m",
                    "sap.ui.layout"
                ]
            },
        },

        /**
         * The component is initialized by UI5 automatically during the startup of the app and calls the init method once.
         * @public
         * @override
         */
        init: function() {
            // set the device model
            this.setModel(models.createDeviceModel(), "device");
            // set the FLP model
            this.setModel(models.createFLPModel(), "FLP");
            UIComponent.prototype.init.apply(this, arguments);

            // create the views based on the url/hash
            this.getRouter().initialize();
        },

        createContent: function() {
            var app = new sap.m.App({
                id: "App"
            });
            var appType = "App";
            var appBackgroundColor = "#FFFFFF";
            if (appType === "App" && appBackgroundColor) {
                app.setBackgroundColor(appBackgroundColor);
            }

            return app;
        },

        getNavigationPropertyForNavigationWithContext: function(sEntityNameSet, targetPageName) {
            var entityNavigations = navigationWithContext[sEntityNameSet];
            return entityNavigations == null ? null : entityNavigations[targetPageName];
        }
    });

});