$output.file("web/src/app/entities/${entity.model.var}/Customize.js")##
sap.ui.define([
    "./customize",
    "sap/m/MessageBox",
    "../js/utilities",
    "../service/Service"
], function(Customize, MessageBox, Utilities, Service) {
    "use strict";
    return {
        callRest: function(context, entity, nameModel, arg1, arg2){
            debugger;
            var jsonVersion= {
                "version":"R"
            };
            Service.doPostGet(context, jsonVersion, entity+"/find", nameModel);
        },
        callFilter: function(context, jsonFilter){
            //No olvidar que si la tabla tiene versión, los filtros tambien la deben tener

        },
        doBeforeNew: function(context, entity){

        },
        doBeforeDetail: function(context, entity){

        }
    };
});