$output.file("web/src/app/entities/${entity.model.var}/Detail${entity}.controller.js")##
sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "../utilities",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
], function(BaseController, MessageBox, Utilities, History) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.${entity.model.var}.Detail${entity}", {
        handleRouteMatched: function (oEvent) {

            var oParams = {};

            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        putFields: function(arg1,arg2, f){
            debugger;
			#foreach (${attribute} in ${entity.nonCpkAttributes.list})
				#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})

					this.getView().byId("txt${attribute.var}").setValue(arg1.${attribute.var});
				#end
			#end
        },
        removerEstilos: function() {
			#foreach (${attribute} in ${entity.nonCpkAttributes.list})
				#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})

					Utilities.removerStateError(this.getView().byId("txt${attribute.var}"));
				#end
			#end
        },
        saveData: function(evt){
            if(true){
                var json={};
				#foreach (${attribute} in ${entity.nonCpkAttributes.list})
				#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})

					json["${attribute.var}"]=this.getView().byId("txt${attribute.var}").getValue();
				#end
				#end

                json["fechaCreacion"]=1526533200000;
                json["usuarioCreacion"]="Bryan Aguilar";

                var s = sessionStorage.getItem("update");
                if(s==="1"){
                    //json["id"]=1;
                    debugger;
                    var id = sessionStorage.getItem("idRow${entity}");
                    json["id"]= id;
                    var myJSON = JSON.stringify(json);
                    this.doPostPost(json,"${entity.model.var}/save","${entity.model.var}/findAll","${entity}List");
                }else{
                    json["usuarioCreacion"]="Bryan Aguilar";
                    debugger;
                    var myJSON = JSON.stringify(json);
                    this.doPostPost(json,"${entity.model.var}/create","${entity.model.var}/findAll","${entity}List");
                }
            }else{
                MessageBox.alert("Debe llenar todos los campos requeridos", {title: "Ventana de Aviso"});
            }
        },
        doGet: function (context, uri, name, callFunction, namefunct, arg1){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                success : function(data) {
                    if(callFunction==="Y"){
						this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                        var fun= namefunct+"(data,arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                    }
                },
                error: function (e) {
                    console.log("Error:" + e);
					MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                }
            });
        },
        doGetLoading: function (context, uri, name, callFunction, namefunct, arg1, arg2){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                beforeSend: function() {
                    this.getView().setBusyIndicatorDelay(0);
                    this.getView().setBusy(true);
                },
                success : function(data) {
                    if(callFunction==="Y"){
						this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                        var fun= namefunct+"(data,arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                    }
                },
                error: function (e) {
                    console.log("Error:" + e);
					MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                },
                complete: function() {
                    this.getView().setBusy(false);
                }
            });
        },
        goBack: function(evt){
            this.oRouter.navTo("MantenimientoTablas");
        },
        clearData: function(){
			#foreach (${attribute} in ${entity.nonCpkAttributes.list})
				#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})

					this.getView().byId("txt${attribute.var}").setValue(null);
				#end
			#end
        },
        doPostPost: function (model, uriPost, uriModel, nameModel, argModel, callFunction, fn, value){
            var thiis = this.getView();
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uriPost,
                type:"POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    this.getView().setBusyIndicatorDelay(0);
                    this.getView().setBusy(true);
                },
                success: function(result){
                    console.log(result);
                    MessageBox.alert("Se Guardó Correctamente", {title: "Ventana de Aviso"});
                    this.doGet(thiis, uriModel, nameModel, callFunction, fn, value);
                },
                error: function (e) {
                    debugger;
                    MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    console.log(e);
                },
                complete: function() {
                    this.getView().setBusy(false);
                }
            });
        },
        onInit: function () {
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
            this.oRouter.getTarget("Detalle").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));

            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
                        //this.removerEstilos();
                        var typeForm${entity} = sessionStorage.getItem("typeForm${entity}");
                        this.doGet(this.getView(),"appParametria/_getListaPais","ListaPais");
                        this.doGet(this.getView(),"appParametria/_getListaCategoria","ListaCategoria");
                        this.doGet(this.getView(),"appParametria/_getListaUnidadNegocio","ListaUnidadNegocio");
                        this.doGet(this.getView(),"appParametria/_getListaVersion","ListaVersion");
                        this.doGet(this.getView(),"appParametria/_getListaMes","ListaMes");
                        //var idVersion= sessionStorage.getItem("idVersion");

						switch(typeForm${entity}){
							case "0":
							that.clearData();
							break
							case "1":
							this.doGetLoading(this.getView(),
                                "${entity.model.var}/findById/"+sessionStorage.getItem("idRow${entity}"),"${entity}Model", "Y", "this.putFields");
                            sessionStorage.setItem("typeForm${entity}",0);
                            sessionStorage.setItem("update",1);
							break
							case "2":
							that.clearData();
							break
						}
                    }
                },that
            );
        }
    });
}, /* bExport= */true);