$output.file("web/src/app/entities/${entity.model.var}/Detail${entity}.view.xml")##
<mvc:View xmlns:mvc="sap.ui.core.mvc" controllerName="portal.valorizacion.${entity.model.var.toLowerCase()}.controller.${entity.model.var}.Detail${entity}" xmlns:uxap="sap.uxap" xmlns:m="sap.m" xmlns:form="sap.ui.layout.form" xmlns:core="sap.ui.core">
    <uxap:ObjectPageLayout showTitleInHeaderContent="true" showHeaderContent="false" showAnchorBar="true" showFooter="true" subSectionLayout="TitleOnTop">
        <uxap:headerTitle>
            <uxap:ObjectPageHeader objectImageURI="sap-icon://travel-itinerary" objectTitle="Detalle ${entity}" objectSubtitle="" headerDesign="Dark" objectImageShape="Circle" isObjectIconAlwaysVisible="true" isObjectTitleAlwaysVisible="true" isObjectSubtitleAlwaysVisible="true" isActionAreaAlwaysVisible="true">
                <uxap:breadCrumbsLinks/>
                <uxap:navigationBar/>
            </uxap:ObjectPageHeader>
        </uxap:headerTitle>
        <uxap:sections>
            <uxap:ObjectPageSection showTitle="false" title="" titleUppercase="true" visible="true">
                <uxap:subSections>
                    <uxap:ObjectPageSubSection title="" mode="Expanded">
                        <uxap:blocks>
                            <form:Form width="100%" editable="true" visible="true">
                                <form:title/>
                                <form:formContainers>
                                    <form:FormContainer visible="true">
                                        <form:title>
                                            <core:Title text="Datos Generales" level="Auto" icon="sap-icon://collections-management"/>
                                        </form:title>
                                        <form:formElements>
                                        #foreach (${attribute} in ${entity.nonCpkAttributes.list})
                                        	#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
                                        		#if(!(${attribute.var}=='id' || ${attribute.var}=='version' || ${attribute.var}=='usuarioCreacion' || ${attribute.var}=='fechaCreacion' || ${attribute.var}=='usuarioModificacion' || ${attribute.var}=='fechaModificacion'))
												#set( $notNull = "false" )
												#if(${attribute.isNotNullable()})
												#set( $notNull = "true")
												#end

                                        		<form:FormElement visible="true">
                                                    <form:label>
                                                        <m:Label wrapping="true" text="${attribute.var}"   design="Standard" width="100%" required="${notNull}" textAlign="Begin" textDirection="Inherit"/>
                                                    </form:label>
                                                    <form:fields>
                                                        <m:Input id="txt${attribute.var}" type="Text"
                                                                 placeholder="Ingrese ${attribute.var}"
                                                                 showValueHelp="false" enabled="true"
                                                                 visible="true" width="auto" HelpOnly="false"/>
                                                    </form:fields>
                                                </form:FormElement>
                                        		#end
                                        	#end
                                        #end

                                        </form:formElements>
                                    </form:FormContainer>
                                </form:formContainers>
                                <form:layout>
                                    <form:ResponsiveGridLayout adjustLabelSpan="false" columnsL="2" labelSpanL="3" columnsM="1" labelSpanM="2" labelSpanS="12"/>
                                </form:layout>
                            </form:Form>
                        </uxap:blocks>
                        <uxap:moreBlocks/>
                        <uxap:actions/>
                    </uxap:ObjectPageSubSection>
                </uxap:subSections>
                <uxap:customAnchorBarButton/>
            </uxap:ObjectPageSection>
        </uxap:sections>
        <uxap:footer>
            <m:Bar design="Auto">
                <m:contentLeft/>
                <m:contentMiddle/>
                <m:contentRight>
                    <m:OverflowToolbar >
                        <m:ToolbarSpacer/>
                        <m:Button text="Guardar" type="Accept" icon="sap-icon://save" iconFirst="true" width="auto" enabled="true" visible="true" iconDensityAware="false" press="saveData">
                            <m:layoutData>
                                <m:OverflowToolbarLayoutData priority="Low" />
                            </m:layoutData>
                        </m:Button>
                        <m:Button text="Regresar" type="Reject" icon="sap-icon://undo" iconFirst="true" width="auto" enabled="true" visible="true" iconDensityAware="false" press="goBack">
                            <m:layoutData>
                                <m:OverflowToolbarLayoutData priority="Low" />
                            </m:layoutData>
                        </m:Button>
                    </m:OverflowToolbar>
                </m:contentRight>
            </m:Bar>
        </uxap:footer>
    </uxap:ObjectPageLayout>
</mvc:View>