$output.file("web/src/app/entities/${entity.model.var}/manifest.json")##
{
	"_version": "1.1.0",
	"sap.app": {
		"_version": "1.2.0",
		"id": "portal.valorizacion.${entity.model.var.toLowerCase()}",
		"type": "application",
		"i18n": "i18n/i18n.properties",
		"applicationVersion": {
			"version": "1.0.0"
		},
		"dataSources": {
			"main": {
				"uri": "/portal/odata.svc/",
				"type": "OData",
				"settings": {
					"odataVersion": "2.0"
				}
			},
			"local": {
				"uri": "http://localhost:8080/odata.svc/",
				"type": "OData",
				"settings": {
					"odataVersion": "2.0"
				}
			}
		},
		"title": "{{appTitle}}",
		"description": "{{appDescription}}",
		"ach": "ach",
		"resources": "resources.json",
		"sourceTemplate": {
			"id": "ui5template.basicSAPUI5ApplicationProject",
			"version": "1.32.0"
		}
	},
	"sap.ui": {
		"_version": "1.2.0",
		"technology": "UI5",
		"icons": {
			"icon": "",
			"favIcon": "",
			"phone": "",
			"phone@2": "",
			"tablet": "",
			"tablet@2": ""
		},
		"deviceTypes": {
			"desktop": true,
			"tablet": true,
			"phone": true
		},
		"supportedThemes": [
			"sap_bluecrystal"
		]
	},
	"sap.ui5": {
		"_version": "1.1.0",
		"dependencies": {
			"minUI5Version": "1.32.0",
			"libs": {
				"sap.ui.core": {},
				"sap.m": {},
				"sap.ui.layout": {}
			}
		},
		"contentDensities": {
			"compact": true,
			"cozy": true
		},
		"models": {
			"i18n": {
				"type": "sap.ui.model.resource.ResourceModel",
				"uri": "i18n/i18n.properties"
			},
			"": {
				"dataSource": "main",
				"type": "sap.ui.model.odata.v2.ODataModel",
				"settings": {
					"loadMetadataAsync": false,
					"json": true,
					"bJSON": true,
					"defaultBindingMode": "TwoWay",
					"useBatch": true,
					"refreshAfterChange": false,
					"disableHeadRequestForToken": true
				}
			}
		},
		"resources": {
			"css": [
				{
					"uri": "css/styles.css"
				},
				{
					"uri": "css/belcorp.css"
				}
			]
		},
		"routing": {
			"config": {
				"routerClass": "sap.m.routing.Router",
				"viewType": "XML",
				"viewPath": "portal.valorizacion.${entity.model.var.toLowerCase()}.view",
				"controlId": "App",
				"clearTarget": false,
				"controlAggregation": "pages",
				"bypassed": {
					"target": [
						"MantenimientoTablas"
					]
				}
			},
			"targets": {
				"MantenimientoTablas": {
					"controlAggregation": "pages",
					"viewName": "MantenimientoTablas",
					"viewId": "MantenimientoTablas",
					"viewLevel": 1,
					"transition": "slide"
				},
				"Detalle": {
					"controlAggregation": "pages",
					"viewName": "Detalle",
					"viewId": "Detalle",
					"viewLevel": 1,
					"transition": "slide"
				},
				"Detail${entity}": {
                	"controlAggregation": "pages",
                	"viewName": "${entity.model.var}.Detail${entity}",
                	"viewId": "Detail${entity}",
                	"viewLevel": 1,
                	"transition": "slide"
                }
			},
			"routes": [
				{
					"pattern": "",
					"name": "default",
					"target": [
						"MantenimientoTablas"
					]
				},
				{
					"pattern": "Detalle/:context:",
					"name": "Detalle",
					"target": [
						"Detalle"
					]
				},
                {
                	"pattern": "Detail${entity}/:context:",
                	"name": "Detail${entity}",
                	"target": [
                		"Detail${entity}"
                	]
                }
			]
		}
	},
	"sap.platform.hcp": {
		"uri": "webapp",
		"_version": "1.1.0"
	}
}