$output.file("web/src/app/entities/${entity.model.var}/MantenimientoTablas.controller.js")##
sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "./utilities",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber2",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber5",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
    "sap/ui/model/Filter",
    "sap/ui/model/FilterOperator",
], function(BaseController, MessageBox, Utilities, FormatterFloatNumber2, FormatterFloatNumber5 , History, Moment, Filter, FilterOperator) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.MantenimientoTablas", {
        handleRouteMatched: function (oEvent) {
            var oParams = {};
            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        onAfterRendering: function() {
            var fnPressEdit${entity} = this.editRow${entity}.bind(this); // Edita
            var fnPressDelete${entity} = this.deleteRow${entity}.bind(this); // Elimina
			var fnPressDetail${entity} = this.detailRow${entity}.bind(this); // Vista Previa
            var oTemplate = new sap.ui.table.RowAction({items: [
                new sap.ui.table.RowActionItem({icon: "sap-icon://edit", text: "Editar", press: fnPressEdit${entity}})
				, new sap.ui.table.RowActionItem({icon: "sap-icon://delete", text: "Eliminar", press: fnPressDelete${entity}})
				, new sap.ui.table.RowActionItem({icon: "sap-icon://detail-view", text: "Vista Previa", press: fnPressDetail${entity}})
            ]});
            this.byId("idTbl${entity}").setRowActionTemplate(oTemplate);
            this.byId("idTbl${entity}").setRowActionCount(3);
        },
		add${entity}: function(oEvent){
            this.oRouter.navTo("Detail${entity}");
        },
		editRow${entity}: function(oArg){
            debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",1);
            this.oRouter.navTo("Detail${entity}");
        },
		deleteRow${entity}: function(oArg){
			debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow= oModel.getData()[path].id;
            var that = this;
            MessageBox.show("¿Desea eliminar el Registro?",
                MessageBox.Icon.WARNING,
                "Ventana de aviso",
                [MessageBox.Action.YES, MessageBox.Action.NO],
                function(oAction){
                    switch(oAction){
                        case 'YES':
                            that.doDelete("${entity.model.var}",idRow,"Y","${entity.model.var}/findAll","${entity}List");
                        case 'NO':
                            break;
                    }
                });
        },
		detailRow${entity}: function(oArg){
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",2);
            this.oRouter.navTo("Detail${entity}");
		},
		uploadExcel${entity} : function(){
            //this.oRouter.navTo("Upload${entity}");
        },
		downloadExcel${entity} : function(){
        	var url = Utilities.getDomain() + '${entity.model.var}/downloadCompleteExcelXLSX' ;
            var encodeUrl = encodeURI(url);
			sap.m.URLHelper.redirect(encodeUrl,true);
        },
		doDelete: function(uri, index, updateModel, uriModel, nameModel, nameFunc, arg){
            var thiis = this.getView();
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uri +'/'+index,
                type: 'DELETE',
                success: function(result) {
                    console.log("Se eliminó correctamente id:"+index);
                    if(updateModel==="Y"){
                        this.doGet(thiis,uriModel,nameModel, nameFunc, arg);
                    }
                },
                error: function(e){
                    MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                }
            });
        },
        doPostPost: function (model, uriPost, uriModel, nameModel, argModel, callFunction, fn, value){
			var thiis = this.getView();
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uriPost,
                type:"POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    this.getView().setBusyIndicatorDelay(0);
                    this.getView().setBusy(true);
                },
                success: function(result){
                    console.log(result);
                    MessageBox.alert("Se Guardó Correctamente", {title: "Ventana de Aviso"});
                    this.doGet(thiis, uriModel, nameModel, callFunction, fn, value);
                },
                error: function (e) {
					console.log("Error:" + e);
                    MessageBox.alert("Hubo un Error, por favor consultar en el Log del Sistema", {title: "Ventana de Aviso"});
                },
                complete: function() {
                    this.getView().setBusy(false);
                }
            });

        },
        doPostGet: function (context, model, uri, name, callFunction, namefunct, arg1){
			jQuery.ajax({
                context: this,
                url: Utilities.getDomain() + uri,
                type:"POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    this.getView().setBusyIndicatorDelay(0);
                    this.getView().setBusy(true);
                },
                success: function(result){
                	console.log(result);
                    if(callFunction==="Y"){
						this.model = new sap.ui.model.json.JSONModel (result);
                        context.setModel(this.model, name);
                        var fun= namefunct+"(arg1,result)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.setModel(this.model, name);
                    }
                },
                complete: function() {
                    this.getView().setBusy(false);
                },
                error: function (e) {
                    console.log("Error:" + e);
					MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                }
            });
        },
		doGet: function (context, uri, name, callFunction, namefunct, arg1){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                beforeSend: function() {
                                    this.getView().setBusyIndicatorDelay(0);
                                    this.getView().setBusy(true);
                                },
                success : function(data) {
                    if(callFunction==="Y"){
						this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                        var fun= namefunct+"(data,arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                    }
                },
                error: function (e) {
                    console.log("Error:" + e);
					MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                },
                complete: function() {
                    this.getView().setBusy(false);
                }
            });
        },
        closeFormSearch${entity}: function(oEvent){
            //debugger;
            if(this.getView().byId("idSwitch${entity}").getState()){
                this.getView().byId("idFormSearch${entity}").setVisible(true);
                this.getView().byId("idBtnSearch${entity}").setVisible(true);
            }else{
                this.getView().byId("idFormSearch${entity}").setVisible(false);
                this.getView().byId("idBtnSearch${entity}").setVisible(false);
            }
        },
        getVersion: function (arg1, arg2){
                this.doGet(this.getView(), "${entity.model.var}/findAll","${entity}List");
        },
        onInit: function () {
            //debugger;
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
            this.oRouter.getTarget("MantenimientoTablas").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
						var fields = [];
						#set( $listFields = [] )
						#foreach (${attribute} in ${entity.nonCpkAttributes.list})
							#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
								#set(${listFields} = ${listFields.add(${attribute.var})})
							//${listFields}
							#end
						#end
						${listFields};
						if(fields.indexOf("version")!==-1){
                    	this.doGet(this.getView(),"appParametria/_getSessionConfiguracionPeriodo","sessionVersion", "Y", "this.getVersion",this);
						}

                    }
                },that
            );

        }
    });
}, /* bExport= */true);