$output.file("web/src/app/entities/${entity.model.var}/MantenimientoTablas.controller.js")##
sap.ui.define(["sap/ui/core/mvc/Controller",
    "sap/m/MessageBox",
    "../js/utilities",
	"../service/Service",
	"../customize/Customize",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber2",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/formatter/FormatterFloatNumber5",
    "sap/ui/core/routing/History",
    "portal/valorizacion/${entity.model.var.toLowerCase()}/js/moment",
    "sap/ui/model/Filter",
    "sap/ui/model/FilterOperator",
], function(BaseController, MessageBox, Utilities, Service, Customize, FormatterFloatNumber2, FormatterFloatNumber5 , History, Moment, Filter, FilterOperator) {
    "use strict";

    return BaseController.extend("portal.valorizacion.${entity.model.var.toLowerCase()}.controller.MantenimientoTablas", {
        fieldsList: [],
		handleRouteMatched: function (oEvent) {
            var oParams = {};
            if (oEvent.mParameters.data.context) {
                this.sContext = oEvent.mParameters.data.context;
                var oPath;
                if (this.sContext) {
                    oPath = {path: "/" + this.sContext, parameters: oParams};
                    this.getView().bindObject(oPath);
                }
            }
        },
        onAfterRendering: function() {
            var fnPressEdit${entity} = this.editRow${entity}.bind(this); // Edita
            var fnPressDelete${entity} = this.deleteRow${entity}.bind(this); // Elimina
			var fnPressDetail${entity} = this.detailRow${entity}.bind(this); // Vista Previa
            var oTemplate = new sap.ui.table.RowAction({items: [
                new sap.ui.table.RowActionItem({icon: "sap-icon://edit", text: "Editar", press: fnPressEdit${entity}})
				, new sap.ui.table.RowActionItem({icon: "sap-icon://delete", text: "Eliminar", press: fnPressDelete${entity}})
				, new sap.ui.table.RowActionItem({icon: "sap-icon://detail-view", text: "Vista Previa", press: fnPressDetail${entity}})
            ]});
            this.byId("idTbl${entity}").setRowActionTemplate(oTemplate);
            this.byId("idTbl${entity}").setRowActionCount(3);
        },
		add${entity}: function(oEvent){
            this.oRouter.navTo("Detail${entity}");
        },
		editRow${entity}: function(oArg){
            debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",1);
            this.oRouter.navTo("Detail${entity}");
        },
		deleteRow${entity}: function(oArg){
			debugger;
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow= oModel.getData()[path].id;
            var that = this;
            MessageBox.show("¿Desea eliminar el Registro?",
                MessageBox.Icon.WARNING,
                "Ventana de aviso",
                [MessageBox.Action.YES, MessageBox.Action.NO],
                function(oAction){
                    switch(oAction){
                        case 'YES':
                            that.doDelete("${entity.model.var}",idRow,"Y","${entity.model.var}/findAll","${entity}List");
                        case 'NO':
                            break;
                    }
                });
        },
		detailRow${entity}: function(oArg){
            var path = oArg.getSource().getBindingContext("${entity}List").getPath().substr(1);
            var oModel = oArg.getSource().getModel("${entity}List");
            var idRow${entity}= oModel.getData()[path].id;
            sessionStorage.setItem("idRow${entity}",idRow${entity});
            sessionStorage.setItem("typeForm${entity}",2);
            this.oRouter.navTo("Detail${entity}");
		},
		uploadExcel${entity} : function(){
            this.oRouter.navTo("Upload${entity}");
        },
		downloadExcel${entity} : function(){
        	var url = Utilities.getDomain() + '${entity.model.var}/downloadCompleteExcelXLSX' ;
            var encodeUrl = encodeURI(url);
			sap.m.URLHelper.redirect(encodeUrl,true);
        },
        closeFormSearch${entity}: function(oEvent){
            if(this.getView().byId("idSwitch${entity}").getState()){
                this.getView().byId("idFormSearch${entity}").setVisible(true);
                this.getView().byId("idBtnSearch${entity}").setVisible(true);
            }else{
                this.getView().byId("idFormSearch${entity}").setVisible(false);
                this.getView().byId("idBtnSearch${entity}").setVisible(false);
            }
        },
		filter${entity}: function(oEvent){
			debugger;
            var jsonFilter = {};
			#foreach (${attribute} in ${entity.nonCpkAttributes.list})
				#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})

					jsonFilter["${attribute.var}"]=this.getView().byId("txt${entity}${attribute.var}").getValue();
				#end
			#end

            console.log(json);
			Customize.callFilter(this, jsonFilter);
            //Service.doPostGet(this.getView(),json,"${entity.model.var}/find", "${entity}List");
        },
        getVersion: function (arg1, arg2){
			sessionStorage.setItem("idVersion", arg1.version);
        	var descVersion="";
        	switch(arg1.version){
        		case "R":
        			descVersion= "Real";
        			sessionStorage.setItem("descVersion", descVersion);
        		break;
        		case "S":
        			descVersion= "Simulación";
        			sessionStorage.setItem("descVersion", descVersion);
        		break;
        	}
        	if(arg1.version!==undefined){
                sessionStorage.setItem("typeForm${entity}",0);
                this.byId("btnVersion${entity}").setText("Versión: "+descVersion);
                var jsonVersion= {};
                Customize.callRest(this, "${entity.model.var}", "${entity}List", arg1, arg2);
                console.log(this.getView());
            }else{
                MessageBox.show(
                    "Por favor seleccione una Versión para poder entrar a esta pagina.", {
                        icon: sap.m.MessageBox.Icon.WARNING,
                        title: "Sin Versión",
                        styleClass: "titleMessageBox",
                        actions: [sap.m.MessageBox.Action.CLOSE],
                        onClose: function(oAction) {
                            window.history.go(-1);
                        }
                    }
                );
            }
        },
        onInit: function () {
            //debugger;
            var that = this;
            this.mBindingOptions = {};
            this.oRouter = sap.ui.core.UIComponent.getRouterFor(this);
            this.oRouter.getTarget("MantenimientoTablas").attachDisplay(jQuery.proxy(this.handleRouteMatched, this));
            this.getView().addDelegate(
                {
                    onBeforeShow: function (e) {
						#set( $listFields = [] )
						#foreach (${attribute} in ${entity.nonCpkAttributes.list})
							#if(!${attribute.isInFk()} || ${attribute.isSimplePk()})
								#set(${listFields} = ${listFields.add(${attribute.var})})
							#end
						#end

						var listFields = "${listFields}";
						var sizeFields = listFields.length;
						listFields = listFields.substr(1, sizeFields-2);
						listFields = listFields.split(", ");
						this.fieldList = listFields;
						Service.doGet(this,"appParametria/_getListaPais","ListaPais");
						Service.doGet(this,"appParametria/_getListaCategoria","ListaCategoria");
						Service.doGet(this,"appParametria/_getListaUnidadNegocio","ListaUnidadNegocio");
						Service.doGet(this,"appParametria/_getListaMes","ListaMes");
						#if (${listFields.contains("version")})

						Service.doGet(this,"appParametria/_getSessionConfiguracionPeriodo","sessionVersion", "Y", "getVersion",this.fieldList);
						#else

						Customize.callRest(this, "${entity.model.var}", "${entity}List", this.fieldList);
						console.log(this.getView());
						#end

                    }
                },that
            );

        }
    });
}, /* bExport= */true);