$output.file("web/src/app/entities/${entity.model.var}/service/Service.js")##
sap.ui.define([
    "./Service",
    "sap/m/MessageBox",
    "../js/utilities"
], function(MessageBox, Service, Utilities) {
    "use strict";
    return {
        doDelete: function(context, uri, index, updateModel, uriModel, nameModel, callFunction, nameFunc, arg){
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uri +'/'+index,
                type: 'DELETE',
                success: function(result) {
                    console.log("Se eliminó correctamente id:"+index);
                    if(updateModel==="Y"){
                        this.doGet(context,uriModel,nameModel, callFunction, nameFunc, arg);
                    }
                },
                error: function(e){
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doPostPost: function (context, model, uriPost, uriModel, nameModel, argModel, callFunction, fn, value){
            jQuery.ajax({
                context : this,
                url: Utilities.getDomain() + uriPost,
                type:"POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success: function(result){
                    console.log(result);
                    MessageBox.alert("Se Guardó Correctamente", {title: "Ventana de Aviso"});
                    this.doGet(context, uriModel, nameModel, callFunction, fn, value);
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                }
            });
        },
        doPostGet: function (context, model, uri, name, callFunction, namefunct, arg1){
            jQuery.ajax({
                context: this,
                url: Utilities.getDomain() + uri,
                type:"POST",
                data: JSON.stringify(model),
                dataType: "json",
                contentType:"application/json",
                headers:{"Accept": "application/json"},
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success: function(result){
                    console.log(result);
                    if(callFunction==="Y"){
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                        var fun= "context."+namefunct+"(arg1,result)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (result);
                        context.getView().setModel(this.model, name);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                }
            });
        },
        doGet: function (context, uri, name, callFunction, namefunct, arg1){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success : function(data) {
                    if(callFunction==="Y"){
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.getView().setModel(this.model, name);
                        var fun= "context."+namefunct+"(data,arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.getView().setModel(this.model, name);
                    }
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                }
            });
        },
        doGetLoading: function (context, uri, name, callFunction, namefunct, arg1, arg2){
            jQuery.ajax({
                context: this,
                type : "GET",
                contentType : "application/json",
                url : Utilities.getDomain()+ uri,
                dataType : "json",
                beforeSend: function() {
                    context.getView().setBusyIndicatorDelay(0);
                    context.getView().setBusy(true);
                },
                success : function(data) {
                    if(callFunction==="Y"){
  				        this.model = new sap.ui.model.json.JSONModel (data);
                        context.getView().setModel(this.model, name);
                        var fun= "context."+namefunct+"(data,arg1)";
                        eval(fun);
                    }
                    else{
                        this.model = new sap.ui.model.json.JSONModel (data);
                        context.setModel(this.model, name);
                    }
                },
                error: function (e) {
                    if(e.responseJSON !== undefined){
                        MessageBox.alert("Hubo un Error :"+e.responseJSON.message, {title: "Ventana de Aviso"});
                    }else{
                        MessageBox.alert("Hubo un Error, por favor comuníquese con el administrador del sistema");
                        console.log(e);
                    }
                },
                complete: function() {
                    context.getView().setBusy(false);
                }
            });
        }
    };
});