$output.file("web/src/app/entities/${entity.model.var}/webapp/customize/customize.js")##
sap.ui.define([
    "./customize",
    "sap/m/MessageBox",
    "../js/utilities",
    "../service/Service"
], function(Customize, MessageBox, Utilities, Service) {
    "use strict";
    return {
        fieldsList: [],
        nameEntity: "${entity}",
        nameEntityVar: "${entity.model.var}",
        nameModel: "${entity}List",
        nameModelUpload: "Upload${entity}List",
        doRun: function(context){

        },
        callRest: function(context, nameEntityVar, nameModel, arg1, arg2){
            var that = this;
            this.fieldList= arg1;
            debugger;
            //var jsonVersion= {
            //    "version":"R"
            //};
            var jsonExample= {};

            this.fieldList.map(function(f){
                var nameField = "txt"+that.nameEntity+f;
                var objectField= context.getView().byId(nameField);
                if(objectField !== undefined){
                    if(objectField.getValue()===""){
                        jsonExample[f]=null;
                    }else{
                        jsonExample[f]=objectField.getValue();
                    }
                }
            });

            var jsonPaginated={
                "example": jsonExample,
                "lazyLoadEvent": {
                    "first": 0,
                    "rows":10
                    }
                };
            //console.log(JSON.stringify(jsonPaginated));
            //Service.doPostGet(context, jsonVersion, nameEntityVar+"/find", nameModel);
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doPagination", arg1);
        },
        callFilter: function(context, jsonFilter){
            //No olvidar que si la tabla tiene versión, los filtros tambien la deben tener

        },
        doPagination: function(context, result, nameModel, arg1){
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            for(var i=0; i<result["totalPages"]; i++){
                cmbPagination.addItem(new sap.ui.core.Item({key:i,text:i+1}));
            }
            this.doBefore(context, result, this.nameModel);
        },
        goPage: function(context, arg){
            var that = this;
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            var idSelected = arg.mParameters.selectedItem.mProperties.key;
            var jsonExample= {};
            this.fieldList.map(function(f){
                var nameField = "txt"+that.nameEntity+f;
                var objectField= context.getView().byId(nameField);
                if(objectField !== undefined){
                    if(objectField.getValue()===""){
                        jsonExample[f]=null;
                    }else{
                        jsonExample[f]=objectField.getValue();
                    }
                }
            });

            var jsonPaginated={
                "example": jsonExample,
                "lazyLoadEvent": {
                    "first": idSelected*10,
                    "rows":10
                }
            };
            //console.log(JSON.stringify(jsonPaginated));
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doBefore", arg);

        },
        doBefore: function(context, result, nameModel){
            this.model = new sap.ui.model.json.JSONModel (result.content);
            context.getView().setModel(this.model, nameModel);
        },
        doBeforeNew: function(context, entity){

        },
        doBeforeDetail: function(context, entity){

        }
    };
});