$output.file("web/src/app/entities/${entity.model.var}/webapp/customize/customize.js")##
sap.ui.define([
    "./customize",
    "sap/m/MessageBox",
    "../js/utilities",
    "../service/Service"
], function(Customize, MessageBox, Utilities, Service) {
    "use strict";
    return {
        fieldsList: [],
        nameEntity: "${entity}",
        nameEntityVar: "${entity.model.var}",
        nameModel: "${entity}List",
        nameModelUpload: "Upload${entity}List",
        doRun: function(context){

        },
        getFilters: function(context){
            var that = this;
            var jsonFilter={};
            this.fieldList.map(function(f){
                var nameField = "txt"+that.nameEntity+f;
                var objectField= context.getView().byId(nameField);
                if(objectField !== undefined){
                    if(objectField.getValue()===""){
                        jsonFilter[f]=null;
                    }else{
                        jsonFilter[f]=objectField.getValue();
                    }
                }
            });
            return jsonFilter;
        },
        callRest: function(context, nameEntityVar, nameModel, arg1, arg2){
            var that = this;
            this.fieldList= arg1;
            debugger;
            //var jsonVersion= {
            //    "version":"R"
            //};
            var jsonFilter= {};
            jsonFilter = this.getFilters(context);
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            var selectedKey= cmbPagination.getSelectedKey();

            var jsonPaginated={
                "example": jsonFilter,
                "lazyLoadEvent": {
                    "first": selectedKey*10,
                    "rows":10
                    }
                };
            //console.log(JSON.stringify(jsonPaginated));
            //Service.doPostGet(context, jsonVersion, nameEntityVar+"/find", nameModel);
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doPagination", arg1);
        },
        callFilter: function(context){
            //No olvidar que si la tabla tiene versión, los filtros tambien la deben tener
            var that = this;
            var jsonFilter= {};
            jsonFilter = this.getFilters(context);
            jsonFilter["version"]=sessionStorage.getItem("idVersion");

            var jsonPaginated={
                "example": jsonFilter,
                "lazyLoadEvent": {
                    "first": 0,
                    "rows":10
                }
            };
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doPagination", "Y");
        },
        clearFilter: function(context){
            var that = this;
            this.fieldList.map(function(f){
                var nameField = "txt"+that.nameEntity+f;
                var objectField= context.getView().byId(nameField);
                if(objectField !== undefined){
                    objectField.setValue(null);
                }
            });
            var jsonFilter= {};
            jsonFilter = this.getFilters(context);
            jsonFilter["version"]=sessionStorage.getItem("idVersion");
            var jsonPaginated={
                "example": jsonFilter,
                "lazyLoadEvent": {
                    "first": 0,
                    "rows":10
                }
            };
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doPagination", "Y");
        },
        callDelete: function(context, idRow){
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            var keySelected = cmbPagination.getSelectedKey();
            Service.doDelete(context, this.nameEntityVar, idRow, "Y", this, "goPage", keySelected)
        },
        doPagination: function(context, result, nameModel, arg1){
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            cmbPagination.removeAllItems();
            for(var i=0; i<result["totalPages"]; i++){
                cmbPagination.addItem(new sap.ui.core.Item({key:i,text:i+1}));
            }
            if(arg1==="Y"){
                cmbPagination.setSelectedItem(null);
            }
            this.doBefore(context, result, this.nameModel);
        },
        goPage: function(context, selectedKey){
            var that = this;
            var cmbPagination = context.getView().byId("idCmbPagination${entity}");
            var jsonFilter= {};
            jsonFilter = this.getFilters(context);

            var jsonPaginated={
                "example": jsonFilter,
                "lazyLoadEvent": {
                    "first": selectedKey*10,
                    "rows":10
                }
            };
            //console.log(JSON.stringify(jsonPaginated));
            Service.doPostGetLoading(context, jsonPaginated, this.nameEntityVar+"/findPaginated", this.nameModel, "Y", this, "doBefore");

        },
        doBefore: function(context, result, nameModel){
            this.model = new sap.ui.model.json.JSONModel (result.content);
            context.getView().setModel(this.model, nameModel);
        },
        doBeforeNew: function(context, entity){

        },
        doBeforeDetail: function(context, entity){

        }
    };
});